@media screen and (min-width: 768px) {

    .mian-box {
        margin-top: 200px;
    }

    .text-box {
        padding: 80px 100px;
        margin: 30px auto;
        width: 500px;
        font-size: 30px;
    }

    .img-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-box__kk {
        width: 30%;
    }

    .input-box {
        width: 80%;
    }

    .input-box__question {
        width: 500px;
        padding-right: 200px;
        margin-right: 20px;
        font-size: 22px;
    }

    .input-box__button {
        /* padding: 10px 60px;s */
        font-size: 22px;
    }

    .poem-link__button {
        font-size: 25px;
    }

    .button-box button {
        font-size: 24px;
    }

    .button-box__column button {
        width: 60px;
        height: 40px;
    }

    .button-box__restart button {
        width: 80px;
        height: 40px;
    }

    .timer {
        margin: 30px;
        font-size: 50px;
    }

    .timer-btn button {
        width: 90px;
        height: 60px;
        display: block;
        border-radius: 20px;
        font-size: 20px;
    }

    .timer-btn button {
        margin: 0 20px;
    }

}