@import "reset.css";

@import "input.css";
@import "test.css";
@import "only-pc.css";

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {
    font-family: 'Gamja Flower', cursive;
    color: #2e363e;
}

* {
    box-sizing: border-box;
}